@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400&family=Luxurious+Roman&family=Luxurious+Script&family=Open+Sans:ital,wght@1,600&family=Poppins:ital@1&family=Raleway:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Luxurious Roman', cursive;
}
.Chess{
  position: static;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://img.buzzfeed.com/buzzfeed-static/static/2020-10/26/19/asset/bb8104eafde8/anigif_sub-buzz-541-1603741657-26.gif );
  background-size: cover;
  background-position: center;
}
nav{
  position: static;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-right: 10%;
  padding-left: 10%;
}
.logo{
  position: static;
  color:white;
  font-size: 30px;
  font-family: 'Black Ops One', cursive;

}
span{
  position: relative;
  color: rgb(84, 192, 84);
  font-family: 'Black Ops One', cursive;
}
nav ul li{
  position: relative;
  list-style-type: none;
  display: inline-block;
  padding: 10px 10px;
  font-family: 'Handjet', cursive;
  font-size: 25px;
}
nav ul li a{
  color:white;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Handjet', cursive;
}
nav ul li a:hover{
  color:orange;
  transition: 800ms;
  font-family: 'Handjet', cursive;
}
button{
  border:none;
  background:rgb(84, 192, 84);
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 500ms;
  font-family: 'Sedgwick Ave Display', cursive;

}
button:hover{
  transform: scale(1.11);
  cursor: cell;
  font-family: 'Sedgwick Ave Display', cursive;
}
button a{
  text-decoration: none;
  color: aliceblue;
  font-family: 'Sedgwick Ave Display', cursive;
}